body
{
	background-color: #FFF;
	color: #000;
	font-family: "Times New Roman", Times, serif;
	font-size: large;
}


table
{
	width: 500px;
	border-collapse: collapse;
	table-layout: fixed;
}

td
{
	vertical-align: top;
	padding: 5px;
	word-wrap: break-word;
}

#fullpage
{
	margin: 100px;
}

.label_col
{
	text-align: right;
}

.input_col
{
	text-align: left;
}

.feedback_col
{
	text-align: center;
	vertical-align: middle;
	color: LightGray;
	font-size: small;
}

.Button {
	text-align: center;
	margin-left: 121px;
    margin-top: 19px;
    width: 84px;
    height: 40px;   
    font-size:14px;
    font-weight:700;
}

.buttonBG{
	background-color: green;
}